.main-footer {
    background-color: #eee;
}

.container-footer {
    padding: 20px 15px 10px 15px;
}

.list-mot-address {
    display: flex;

    .address-detail {
        font-size: 14px;
        padding-top: 3px;
        font-weight: 400;
        padding-bottom: 5px;
        text-align: left;
        padding-left: 12px;
    }

    .recruitment-li {
        color: #787c81;
        a {
            text-decoration: none;
            color: #787c81;
            &:hover {
                color: #ac9ca3;
            }
        }
    }
}

.recruitment {
    text-transform: uppercase;
    font-weight: 700;
}

.list-mot-address-logo {
    width: 44px;
    height: 36px;
    background-color: red;
    display: block;
    border-radius: 5px;
}

.address-mot,
.address-hai {
    display: flex;
}

.address-mot {
    display: inline-block;
}

.list-ul {
    margin: 0;
    color: #787c81;

    a {
        text-decoration: none;
        color: #787c81;
        &:hover {
            color: #ac9ca3;
        }
    }
}

.list-youtube {
    width: 50px;
}

.icon-youtube {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: white;
    padding-left: 6px;
    padding-top: 2px;
}

//pay
.method-pay {
    height: 66px;
    width: 100%;
}
.container-pay {
    display: flex;
    align-items: center;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    padding: 10px 0;
    margin-bottom: 20px;

    .pay-name {
        text-transform: uppercase;
        font-weight: 700;
    }
}

.container-img:hover {
    animation: pulse 0.1s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}
.container-img {
    transition: all ease-in-out 0.1s;
}
//area
.area-south {
    text-align: left;
    padding: 0 0.8em 0 0;
    line-height: 1em;
    font-size: 100%;
    margin: 0;
    width: 10%;

    .area-south {
        text-align: left;
    }
    .south {
        font-weight: 600;
    }
}

.line {
    border-color: #5aa1e3;
    border-top: 1px solid #5aa1e3;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}

.area {
    display: flex;
}

.footer-ul-ul {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
