.main-footer {
    background-color: #eee;
}

.container-footer {
    padding: 20px 15px 10px 15px;
}

.wrapper-list_mot {
    padding-left: 36px;
}

.list-mot-address {
    display: flex;

    .address-dc {
        padding-right: 5px;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 26px;
    }

    .address-detail {
        font-size: 14px;
        padding-top: 3px;
        font-weight: 400;
        padding-bottom: 5px;
        text-align: left;
    }

    .recruitment-li {
        color: #787c81;
        a {
            text-decoration: none;
            color: #787c81;
            &:hover {
                color: #ac9ca3;
            }
        }
    }
}

.recruitment {
    text-transform: uppercase;
    font-weight: 700;
}

.list-mot-address-logo {
    width: 44px;
    height: 36px;
    background-color: red;
    display: block;
    border-radius: 5px;
}

.list-mot-address {
    border-radius: 5px;
}

.list-ul {
    margin: 0;
    color: #787c81;

    a {
        text-decoration: none;
        color: #787c81;
        &:hover {
            color: #ac9ca3;
        }
    }
}

.list-youtube {
    width: 50px;
}

.icon-youtube {
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: white;
    padding-left: 6px;
    padding-top: 2px;
}

//area
.area-south {
    text-align: left;
    padding: 0 0.8em 0 0;
    line-height: 1em;
    font-size: 100%;
    margin: 0;
    width: 10%;

    .area-south {
        text-align: left;
    }
    .south {
        font-weight: 600;
    }
}

.line {
    border-color: #5aa1e3;
    border-top: 1px solid #5aa1e3;
    height: 1px;
    width: 100%;
    margin-top: 10px;
}

.area {
    display: flex;
}

.footer-ul-ul {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
    color: #666;
}
