<html lang='en'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Document</title>
    </head>
    <body>
        <div class='app'>
            <header>
                {{! di chuyển sang đường dẫn này thì header luôn tĩnh }}
                <h1>hader</h1>
            </header>

            <div class='container'>
                {{! di chuyển thì đường dẫn động thay đổi code }}

                {{{body}}}
            </div>

            <footer>
                {{! di chuyển sang đường dẫn này thì header luôn tĩnh }}
                <h1>footer</h1>
            </footer>
        </div>
    </body>
</html>